#map {
  width: 70%;
  position: absolute;
  left: 0px;
  right: 20%;
  top: 66px;
  bottom: 0;
  border-width: thin;
  border-style: ridge;
  border-color: #29251f6e;
}

/* POPUP */
button {
  text-align: center !important;
}
.mapboxgl-popup-content {
  font: 400 15px/22px;
  font-family: 'Lato', sans-serif !important;
  padding: 0;
  width: 100%;
  background-color: rgba(255, 250, 240, 0.9) !important;
  box-shadow: 0 1px 2px #1c3a38 !important;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-body-link {
  background-color: #ececec;
  padding: 2em;
}

.mapboxgl-popup-content h6 {
  font-family: 'Lato', sans-serif;

  background-color: rgba(53, 59, 65, 0) !important;
  color: rgba(8, 165, 147, 0.8);
  margin: 0;
  display: block;
  padding: 10px;
  text-shadow: 1px 1px #83510636;
  border-width: thin;
  border-style: ridge;
  border-color: #29251f6e;
}
.mapboxgl-popup-content h5 {
  color: #212529;
  background-color: rgb(181, 197, 38);
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
}
.cont {
  background-color: #d7d7d7;
  color: #343a40 !important;
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 700;
  color: #f10000;
  font-size: 14px;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 250, 240, 0.9);
  margin-top: 10px;
}
.mapboxgl-popup-anchor-bottom > .mapboxgl-popup-tip {
  border-top-color: #1c3a38;
  margin-bottom: 10px;
}
.mapboxgl-popup-anchor-right > .mapboxgl-popup-tip {
  border-left-color: #b0bcbc;
  margin-right: 10px;
}
.mapboxgl-popup-anchor-left > .mapboxgl-popup-tip {
  border-right-color: #b0bcbc;
  margin-left: 10px;
}
.modal-footer {
  padding-bottom: 0;
  border-top: none;
}
.modal-header {
  background-color: #5a5a5a !important;
}
a {
  color: #636466;
  text-decoration: none;
  background-color: transparent;
}

.modal-title {
  color: rgb(214, 214, 214) !important;
}
/* To hide the x close button on modal*/
.close {
  display: none;
}

.slider {
  width: 50%;
  opacity: 0.9;
  position: absolute;
}

#menu {
  background: #e4e4e4;
  width: 100%;
  z-index: 1;
}

#menu a {
  color: #404040;
  display: block;
  margin: 0;

  padding: 8px;
  text-decoration: none;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #343a40;
  color: rgb(214, 214, 214);
}

#menu a.active:hover {
  background: #8d8d8d;
}

#menuNew {
  background: #e4e4e4;
  z-index: 1;
}

#menuNew a {
  color: #26523d;
  display: block;
  margin-right: 5px;
  font-variant: unset;
  padding: 2px;
  text-decoration: none;
}

#menuNew a:hover {
  /* background-color: #4e4d4d00; */
  color: rgb(179, 179, 179);
}
#menuNew a.active {
  background-color: rgba(52, 58, 64, 0);
  /* color: rgb(231, 230, 161); */
  color: #26523d;
}

#menuNew a.active:hover {
  background: #52525200;
}

/* FULL EXTENT */
#fullExtent {
  display: inline-block;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding-left: 4px;
  padding-top: 3px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  border: 1px solid rgba(61, 61, 61, 0.1);
  width: 100%;
}
#fullExtent:hover {
  background-color: #bebebe;
}
#SNP {
  padding-bottom: 20px;
  width: 100%;
}
#snap:hover {
  color: white;
}

.filter-group {
  display: block;
  margin: 0;

  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

.filter-group input[type='checkbox']:first-child + label {
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}

.filter-group input[type='checkbox'] {
  display: none;
}

.filter-group input[type='checkbox'] + label {
  margin-bottom: 0;
  display: block;
  cursor: pointer;
  padding: 10px;
}

.filter-group input[type='checkbox'] + label {
  margin-bottom: 0;
  text-transform: capitalize;
}

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
  background-color: #f8f8f8;
  color: #404040;
}

.filter-group input[type='checkbox']:checked + label:before {
  content: '✔';
  margin-right: 5px;
}
.mapboxgl-popup-close-button {
  display: none;
}
#filter-group-type {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  padding: 0;
}
#filter-group-type:last-child {
  border: none;
}
#filter-group:last-child {
  border: none;
}
#filter-group-arch {
  -webkit-column-count: 8;
  -moz-column-count: 8;
  -o-column-count: 8;
  column-count: 8;
  padding: 0;
}
#filter-group-arch:last-child {
  border: none;
}
/* NESTED MENU */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.bg-white {
  background-color: rgba(255, 250, 240, 0.9) !important;
}
.map-overlay {
  position: absolute;
  width: 30%;
  top: 66px;
  bottom: 0px;
  right: 0;
  font-family: 'Lato', sans-serif;
  /* background-color: #ffffff !important; */
  background-color: rgba(255, 250, 240, 0.9) !important;
  max-height: 100%;
  color: rgb(141, 141, 141);
  padding-bottom: 55px;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: -0.1px;
  text-shadow: 1px 1px #83510636;
  border-width: thin;
  border-style: ridge;
  border-color: #29251f6e;
}
.map-overlay2 {
  display: none;
  position: absolute;
  width: 30%;
  bottom: 30px;
  left: 30%;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 250, 240, 0.9) !important;
  height: 35%;
  color: rgba(53, 59, 65) !important;
  padding: 15px;
  max-height: 35%;
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: normal;
  line-height: 1.4;
  text-shadow: 1px 1px #83510636;
  border-width: thin;
  border-style: ridge;
  border-color: #29251f6e;
}
.map-overlay3 {
  position: relative;
  padding-top: 2rem;
  left: 1rem;
  background-color: rgba(255, 250, 240, 0.9) !important;

  width: 90%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.map-overlay4 {
  position: relative;
  width: 90%;
  bottom: 10px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 250, 240, 0.9) !important;
  height: 35%;
  color: rgba(53, 59, 65) !important;

  max-height: 35%;
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: normal;
  line-height: 1.4;
  text-shadow: 1px 1px #83510636;
}
.map-overlay5 {
  position: relative;
  padding-top: 2rem;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 250, 240, 0.9) !important;
  height: 25%;
  color: #26523d !important;
  width: 90%;
  max-height: 35%;
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: normal;
  line-height: 1.4;
  text-shadow: 1px 1px #83510636;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-size: large;
  font-variant: small-caps;

  background-color: rgba(255, 250, 240, 0.9) !important;
  border-color: rgba(88, 122, 136, 0.2) !important;
}
.nav-tabs {
  font-size: large;
  font-variant: small-caps;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.mapboxgl-ctrl-group button {
  background-color: rgba(255, 250, 240, 0.9) !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 250, 240, 0.9) !important;
}
.map-overlay input {
  display: inline-block;
  border: none;
  width: 75%;
  border-radius: 3px;
  margin-top: 20px;
  background-color: rgb(186, 201, 201) !important;
  box-sizing: border-box;
}

.map-overlay .listing {
  max-height: 100%;
}

.map-overlay .listing > * {
  display: block;
  margin: 0;
}

.map-overlay .listing a {
  color: #26523d !important;
  text-decoration: none;
  font-variant: normal;
}

.map-overlay .listing a:hover {
  background-color: #00000025 !important;
  padding-left: 1em !important;
}
#feature-listing {
  color: rgb(255, 255, 255);
  padding-left: 0.5em;
}
#feature-listing a {
  cursor: pointer;
  text-indent: -0.5em;
  padding-bottom: 0.5em;
}
#feature-external3 a {
  color: #d6b210;
  font-variant: none;
}
#feature-external a {
  color: #d6b210;
  font-variant: none;
}
.fff {
  float: right;
  padding-right: 1px;
}

/* PITCH */

/* // From: Pitch toggle control for Mapbox GL JS — http://fuzzytolerance.info/blog/2017/01/30/Pitch-toggle-control-for-Mapbox-GL-JS/ */
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

/* COMPASS */

.mapboxgl-ctrl-geographic {
  background-image: url('../img/compass.png');
}

.mapboxgl-ctrl-magnetic {
  background-image: url('../img/compass2.png');
}

.mapboxgl-ctrl-fullextent {
  background-image: url('../img/globe-solid.svg');
  padding: 11px;
}
@media (max-width: 992px) {
  .navbar-brand {
    font-size: 1em !important;
  }

  .map-overlay {
    display: none;
  }
  .map-overlay3 {
    display: none;
  }
  .baseSelection {
    display: none;
  }

  #closePanel {
    display: none !important;
  }
  #feature-title {
    display: none !important;
  }
  #NT {
    display: none !important;
  }
  #NZ {
    display: none !important;
  }
  #menuNew2 {
    font-size: 1em;
    width: 96% !important;
    left: 2% !important;
    max-height: 20% !important;
    bottom: 10% !important;
  }
  #map {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 62px;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .map-overlay {
    width: 300px;
  }
  .map-overlay2 {
    bottom: 30px;
    left: 30%;
  }
  .baseSelection {
    width: 300px;
  }
  #map {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 66px;
    bottom: 0;
    width: 100%;
  }
}

.titleLayer {
  color: #ffffff !important;
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  padding-left: 5px;
  padding-top: 12px;
}
#feature-refresh {
  display: inline-block;
  color: rgb(207, 132, 33);
  width: 15%;
  padding-left: 5%;
}
.card-header {
  padding: 0;
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem;
}
.btn {
  text-decoration: none !important;
}
/* SEARCH */

.NPlisting {
  overflow: auto;

  max-height: 100%;
}

.NPlisting > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.NPlisting a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-variant: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.NPlisting a:last-child {
  border: none;
}

.NPlisting a:hover {
  color: rgb(255, 187, 0);
}

.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ffffff;
  border-width: thin;
  border-style: ridge;
  border-color: #29251f6e;
}
#ttt {
  /* color: rgb(231, 215, 126); */
  color: #26523d;
}
.navbar-brand {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  font-size: 2rem;
  font-weight: 500;
}
.navbar-collapse.in {
  overflow-y: hidden;
}

.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.nav-item {
  padding-right: 20px !important;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(255, 187, 0);
}
.center {
  padding-top: 0.4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0rem;
  width: 100%;
}

/* FILTER  */
.checkbox-container {
  display: flex;

  color: #ffffff;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
}
.filterTitle {
  color: rgba(255, 250, 240, 0.9);
  /* font-variant: small-caps; */
  margin: 0;
  padding-top: 10px;
  padding-bottom: 2px;
  text-decoration: none;
}

.filterCheckbox {
  padding-left: 8px;
  align-content: center;
}
#removeFilters,
#removeFiltersA {
  background-color: rgba(224, 224, 224, 0);
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: 0.7em;
}
#removeFilters:hover,
#removeFiltersA:hover {
  background-color: rgb(184, 183, 182);
}
.filter-option {
  width: auto !important;
  margin-right: 15px !important;
  max-width: 200px;
  border-radius: 10px;
}
/* PACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-perspective: 40rem;
  -moz-perspective: 40rem;
  -ms-perspective: 40rem;
  -o-perspective: 40rem;
  perspective: 40rem;

  z-index: 2000;
  position: fixed;
  height: 20rem;
  width: 20rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 20rem;
  width: 20rem !important;
  line-height: 20rem;
  font-size: 7rem;
  border-radius: 50%;
  background: rgba(255, 187, 0, 0.8);
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  text-align: center;

  -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
  -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
  -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
  -o-animation: pace-theme-center-circle-spin linear infinite 2s;
  animation: pace-theme-center-circle-spin linear infinite 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

@-webkit-keyframes pace-theme-center-circle-spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes pace-theme-center-circle-spin {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}

@-ms-keyframes pace-theme-center-circle-spin {
  from {
    -ms-transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }
}

@-o-keyframes pace-theme-center-circle-spin {
  from {
    -o-transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(360deg);
  }
}

@keyframes pace-theme-center-circle-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* FONT LATO */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
    url(webfonts/Lato/Lato-LightItalic.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
    url(webfonts/Lato/Lato-LightItalic.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'),
    url(webfonts/Lato/Lato-Thin.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'),
    url(webfonts/Lato/Lato-Thin.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url(webfonts/Lato/Lato-Light.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url(webfonts/Lato/Lato-Light.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url(webfonts/Lato/Lato-Regular.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url(webfonts/Lato/Lato-Regular.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url(webfonts/Lato/Lato-Bold.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url(webfonts/Lato/Lato-Bold.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.tab-pane {
  margin-top: 1rem;
}
#closePanel {
  background-color: rgba(128, 128, 128, 0);
  color: rgb(0, 0, 0);
}
#closePanel:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}
#MIT {
  position: sticky;
  top: 0px; /* adjust sentinel height/positioning based on this position. */
  background-color: rgba(255, 250, 240, 0.9) !important;
}
.baseSelection {
  position: absolute;
  display: inline-block;
  padding-top: 5px;
  min-width: 300px;
  width: 20%;
  right: 0px;
  bottom: 2px; /* adjust sentinel height/positioning based on this position. */

  z-index: 300;
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 250, 240, 0.9) !important;
  max-height: 100%;
  color: rgb(141, 141, 141);
  height: 52px;
  letter-spacing: -0.1px;
  /* This pattern is downloaded from www.subtlepatterns.com  */
  /* 
  margin: 1px; */
  text-shadow: 1px 1px #83510636;
  border-width: thin;
  border-style: ridge;
  border-top-color: #29251f6e;
}

.mapbox-improve-map {
  display: none;
}
.selezione {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bolder;
  font-family: 'Lato';
}
.noselezione {
  color: rgb(121, 121, 121) !important;
  text-decoration: none;
  font-variant: normal;
  font-weight: normal;
  font-family: 'Lato';
}
